<img id="main-image" src="../../assets/images/newspapers04-edit.JPG">

<div class="top-container">
  {{!-- <img id="main-image" src="../../assets/images/newspapers04-edit.JPG"> --}}
  <div class="jumbotron">
    <h1 class="display-4" id="title">Mongo Scraper</h1>
    <img id="onion" src="../../assets/images/onion-logo.png">
    <br>
    <p></p>
    <p class="lead">The Onion Edition</p>
    <p id="motto">America's Finest News Source</p>
  </div>
</div>

<br>
<br>
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" id="none" role="alert">
        There are no articles at this time.
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" id="question-card">
          <h5 class="card-title"><strong>What next?</strong></h5>
          {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
          <p class="card-text">What would you like to do?</p>
          <a class="btn btn-primary scrape choice choice-btn" href="/scrape" role="button">Scrape New Articles</a>
          <a class="btn btn-primary saved choice choice-btn" href="/saved" role="button">Go to Saved Articles</a>
          {{!-- <a href="/scrape" class="card-link scrape choice">Scrape New Articles</a>
          <a href="/saved" class="card-link saved choice">Go to Saved Articles</a> --}}
        </div>
      </div>
      <br>
      <br>
    </div>
    <div class="col-md-12" id="article-card">
      <ul class="list-group">
        <li class="list-group-item active">Articles</li>
        <li class="list-group-item" id="articles">
        </li>
        </li>
      </ul>
    </div>
  </div>

  {{!-- <footer class="footer">
    <div class="container">
      <p>The Onion Scraper</p>
    </div>
  </footer> --}}

  {{!--
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="../../assets/javascript/app.js"></script>
  <script type="text/javascript" src="../../assets/javascript/index.js"></script>